{{ define "main" }}


<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/contact-index.jpg');">
	<div class="mw7 center ph3">
		<div class="db mb3">
			<div class="mw7 relative bg-fix-primary mb3" style="text-align: center;">
				<h1 class="f2 f1-l b di lh-title mb3 white mw6"
					style="font-size: 70px;font-family: 'Merriweather', serif;">
					Contact
				</h1>
			</div>
			<div class="mw7 relative bg-fix-primary" style="text-align: center;font-family: 'Merriweather', serif;">

			</div>
		</div>
	</div>
</div>

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">


		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}